<!DOCTYPE HTML>
<html lang="en">
    <head>
    <title>Typeidea blog -by thesfire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=l,shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css">
    <style>
    .post {
    margin-bottom:5px;
    }
    </style>
</head>
<body>
<div class="container head">
<nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="#">首页</a><div clags="collapse navbar-collapse" id="navbarSupportedContent "><ul class="navbar-navau><li class="nav-item">
<a class="nav-link" href="#">Python</a></1i>
<li class="nav-item">
<a class="nav-link"href="#">Django 实战</a></li>
<li class="nav-item">
<a class="nav-link" href="#">Tornado</a></li></ul>
<form class="form-inline my-2 my-1g-0"><input class="form-control mr-sm-2" type="search" placeholder="Search"aria-label="Search">
<button class="btn btn-outline-success" type="submit">搜索</button>
</form></div>
</nav>
<div class="jumbotron"><hl class="display-4">Typeidea</h1><p class="lead">基于Django的多人博客系统</p></div></div><div class="container main"><div class=*row">
<div class="col-9 post-list"><div class="card post">
<div class="card-body*>